<h2>Usuários</h2>

{if $action == 'del'}
	{if $success == true}
	<div class="success">Usuário deletado com sucesso!</div>
	
	<p style="text-align: center;">
		<a href="?src=usuarios&p=lista">Clique aqui para continuar</a>
	</p>
	{else}
	<div class="error">Usuário não pode ser deletado</div>
	
	<p style="text-align: center;">
		<a href="javascript: System.back();">Clique aqui para voltar</a>
	</p>
	{/if}
{else}
	{if $success == true}
	<div class="success">Usuário salvo com sucesso!</div>
	
	<p style="text-align: center;">
		<a href="?src=usuarios&p=lista">Clique aqui para continuar</a>
	</p>
	{else}
	<div class="error">Usuário não pode ser salvo</div>
	
	<p style="text-align: center;">
		<a href="javascript: System.back();">Clique aqui para voltar</a>
	</p>
	{/if}
{/if}