@CHARSET "ISO-8859-1";

/* Success, notice and error boxes
-------------------------------------------------------------- */

.error,
.notice, 
.success		{ padding: .8em; margin-bottom: 1em; border: 2px solid #ddd; }

.error img,
.notice img,
.success img	{ vertical-align: middle; }

.error,
.success		{ text-align: center; }

.error			{ background: #FBE3E4; color: #8a1f11; border-color: #FBC2C4; }
.notice			{ background: #FFF6BF url(../img/aviso.png) no-repeat; color: #8a1f11; border-color: #FFD324; min-height: 32px; padding-left: 50px; }
.success		{ background: #E6EFC2; color: #264409; border-color: #C6D880; }
.error a		{ color: #8a1f11; }
.notice a		{ color: #514721; }
.success a		{ color: #264409; }

.pagina_error {
	color: #FF4F56;
	text-align: center;
	margin-bottom: 10px;
}

.mensagem {
	text-align: center;
	margin-bottom: 10px;
}

/* Tooltips
-------------------------------------------------------------- */

.tip		{ color: #FFFFFF; background-color: #000000; opacity: 0.80; filter: alpha(opacity: 80); width: 150px; z-index: 13000; }
.tip-title	{ color: #649BDD; font-size: 11px; font-weight: bold;  margin: 0; padding: 8px; }
.tip-text	{ font-size: 11px; padding: 4px 8px 8px; }