<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	
	<link href="templates/{$config.template}/galeria.css" type="text/css" rel="stylesheet" />
	
	<script src="core/js/mootools.js" type="text/javascript"></script>
	<script src="core/js/system.js" type="text/javascript"></script>
	<script src="core/js/galeria.js" type="text/javascript"></script>
	
	<title>{$galeria.gal_local} - {$galeria.gal_data}</title>
</head>
<body>

<div id="container">
	<div id="header">
		<h2>{$galeria.gal_titulo}</h2>
		<h3>{$galeria.gal_local} - {$galeria.gal_data}</h3>
	</div>
	
	<div id="lista">
		<div id="imagens">
			{foreach item=imagem from=$imagens}
			<a href="#{$imagem.img_codigo}" onclick="Galeria.imagem.escolher('{$galeria.gal_pasta}', {$galeria.gal_codigo}, {$imagem.img_codigo}, '{$imagem.img_nome_arquivo}', '{$imagem.img_mensagem}');">
				<img src="imagem.php?gal={$galeria.gal_pasta}&img={$imagem.img_nome_arquivo}&thumb=1" alt="{$imagem.img_mensagem}" title="{$imagem.img_mensagem}" />
			</a>
			{foreachelse}
				Nenhuma Imagem encontrada
			{/foreach}
		</div>
		<div id="paginacao">
			{$paginacao}
		</div>
	</div>
	
	<div id="imagem">
		<img id="capa" src="imagem.php?gal={$galeria.gal_pasta}&img={$capa.img_nome_arquivo}&thumb=3" alt="{$capa.img_mensagem}" title="{$capa.img_mensagem}" />
		<script type="text/javascript">
			Galeria.configurar('{$galeria.gal_pasta}', {$galeria.gal_codigo}, {$capa.img_codigo}, '{$capa.img_nome_arquivo}', '{$capa.img_mensagem}');
		</script>
		
		<div id="toolbar">
			<!--<a href="#" onclick="Galeria.imagem.anterior();"><img src="templates/{$config.template}/img/anterior.png" alt="Anterior" /></a>-->
			{if $config.permitir_tamanho_real == 1}
			<a href="#" onclick="Galeria.imagem.tamanho_real();"><img src="templates/{$config.template}/img/tamanho_real.png" alt="Ver Tamanho Real" /></a>
			{/if}
			{if $config.permitir_imprimir == 1}
			<a href="#" onclick="Galeria.imagem.imprimir();"><img src="templates/{$config.template}/img/imprimir.png" alt="Imprimir" /></a>
			{/if}
			{if $config.permitir_indicar == 1}
			<a href="#" onclick="Galeria.imagem.indicar();"><img src="templates/{$config.template}/img/indicar_foto.png" alt="Indicar a Foto" /></a>
			{/if}
			<!--<a href="#" onclick="Galeria.imagem.proxima();"><img src="templates/{$config.template}/img/proxima.png" alt="Próxima" /></a>-->
		</div>
	</div>

	<div id="footer">
		2008 - Galeria Brasil 3
	</div>
</div>

</body>
</html>