@CHARSET "ISO-8859-1";

* {
	border: 0;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

body {
	background-color: #FFFE85;
	color: #222222;
}

a {
	color: #5163E7;
	text-decoration: none;
}

a:hover {
	color: #00A918;
}

h2 {
	font-size: 18px;
	margin-bottom: 20px;
}

h3 {
	font-size: 14px;
}

p {
	margin: 10px 0 20px 0;
}

/**
 * Estilos da Estrutura
 */
#container {
	padding: 20px;
}

#header {
	background-color: #F5E31D;
	padding: 10px;
	color: #297A00;
	margin-bottom: 10px;
}

#header h2 {
	margin-bottom: 0;
}

#lista {
	background-color: #FFF048;
	width: 203px;
	padding: 6px 3px;
	float: left;
	display: block;
	margin-right: 10px;
}

#lista #imagens img {
	vertical-align: middle;
	margin: 2px 1px;
}

#lista #paginacao {
	text-align: center;
	margin-top: 10px;
}

#lista #paginacao img {
	vertical-align: middle;
}

#imagem {
	float: left;
	display: block;
	width: 400px;
	text-align: center;
}

#imagem #toolbar {
	margin: 10px 0;
}

#footer {
	width: 100%;
	margin-top: 20px;
	font-size: 10px;
	text-align: center;
	clear: both;
}

/**
 * Estilos
 */

/* Success, notice and error boxes
-------------------------------------------------------------- */

.error,
.notice, 
.success		{ padding: .8em; margin-bottom: 1em; border: 2px solid #ddd; }

.error img,
.notice img,
.success img	{ vertical-align: middle; }

.error,
.success		{ text-align: center; }

.error			{ background: #FBE3E4; color: #8a1f11; border-color: #FBC2C4; }
.notice			{ background: #FFF6BF; color: #514721; border-color: #FFD324; }
.success		{ background: #E6EFC2; color: #264409; border-color: #C6D880; }
.error a		{ color: #8a1f11; }
.notice a		{ color: #514721; }
.success a		{ color: #264409; }

/* Tooltips
-------------------------------------------------------------- */

.tip		{ color: #FFFFFF; background-color: #000000; opacity: 0.80; filter: alpha(opacity=80); width: 150px; z-index: 13000; }
.tip-title	{ color: #649BDD; font-size: 11px; font-weight: bold;  margin: 0; padding: 8px; }
.tip-text	{ font-size: 11px; padding: 4px 8px 8px; }

.floating_message {
	background-color: #F5E31D;
	border: 1px dashed #297A00;
	color: #297A00;
	text-align: center;
	padding: 10px;
}

.floating_message img {
	vertical-align: middle;
}
