@CHARSET "ISO-8859-1";

* {
	border: 0;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

body {
	background-color: #FFFE85;
	color: #222222;
}

a {
	color: #5163E7;
	text-decoration: none;
}

a:hover {
	color: #00A918;
}

/**
 * Estilos da Estrutura
 */

#container {
	width: 700px;
	margin: 0 auto;
	padding: 30px;
}

#footer {
	font-size: 10px;
	text-align: center;
	margin-top: 20px;
}

/**
 * Estilo da lista de galerias
 */

#galerias {
	width: 100%;
}

#galerias td {
	text-align: center;
	padding: 5px;
}

#galerias img {
	border: 1px solid #222222;
}

#galerias td a {
	display: block;
	width: 100%;
	height: 100%;
	padding: 5px;
	font-size: 11px;
}

#galerias td a:hover {
	background-color: #FFFEAA;
}

/**
 * Paginação
 */

#paginacao {
	text-align: center;
	margin-top: 10px;
}

#paginacao img {
	vertical-align: middle;
}

/* Success, notice and error boxes
-------------------------------------------------------------- */

.error,
.notice, 
.success		{ padding: .8em; margin-bottom: 1em; border: 2px solid #ddd; }

.error img,
.notice img,
.success img	{ vertical-align: middle; }

.error,
.success		{ text-align: center; }

.error			{ background: #FBE3E4; color: #8a1f11; border-color: #FBC2C4; }
.notice			{ background: #FFF6BF; color: #514721; border-color: #FFD324; }
.success		{ background: #E6EFC2; color: #264409; border-color: #C6D880; }
.error a		{ color: #8a1f11; }
.notice a		{ color: #514721; }
.success a		{ color: #264409; }

/* Tooltips
-------------------------------------------------------------- */

.tip		{ color: #FFFFFF; background-color: #000000; opacity: 0.80; filter: alpha(opacity=80); width: 150px; z-index: 13000; }
.tip-title	{ color: #649BDD; font-size: 11px; font-weight: bold;  margin: 0; padding: 8px; }
.tip-text	{ font-size: 11px; padding: 4px 8px 8px; }
