{literal}
<script type="text/javascript">
window.addEvent('domready', function() {
	$('form_config').addEvent('submit', function(form) {
		var CheckForm = new Form('form_config');
		
		if(!CheckForm.validate()) {
			new Event(form).stop();
		}
	});
});
</script>
{/literal}

<h2>Configurações</h2>

<form id="form_config" action="?src=config&p=action" method="post" enctype="multipart/form-data">
	<fieldset>
		<strong>Obs.: Os campos com asterístico (*) são obrigatórios</strong>
		
		<p>
			<label for="config[titulo]"><strong>Nome do Site (*):</strong></label>
			<br /><input type="text" name="config[titulo]" id="config[titulo]" size="40" class="required" value="{$config.titulo}" />
			
			<br /><label for="config[email_admin]"><strong>E-Mail do Administrador (*):</strong></label>
			<br /><input type="text" name="config[email_admin]" id="config[email_admin]" size="60" class="required email" value="{$config.email_admin}" />
			
			<p>
				<label for="config[site_url]"><strong>URL da Galeria (*):</strong></label>
				<br /><input type="text" name="config[site_url]" id="config[site_url]" size="60" class="required" value="{$config.site_url}" />
				
				<br /><label for="config[template]">Template:</label>
				<br /><select name="config[template]">
					{foreach item=template from=$templates}
					<option value="{$template}"{if $template == $config.template} selected="selected"{/if}>{$template}</option>
					{/foreach}
				</select>
			</p>
			
			<p>
				<label for="config[permitir_indicar]"><strong>Permitir indicar a imagem à um amigo:</strong></label>
				<br /><input type="radio" name="config[permitir_indicar]" value="1" class="checkbox" {if $config.permitir_indicar == 1}checked="checked"{/if} /> Sim
				<input type="radio" name="config[permitir_indicar]" value="0" class="checkbox" {if $config.permitir_indicar == 0}checked="checked"{/if} /> Não
				
				<br /><label for="config[permitir_imprimir]"><strong>Permitir imprimir a imagem:</strong></label>
				<br /><input type="radio" name="config[permitir_imprimir]" value="1" class="checkbox" {if $config.permitir_imprimir == 1}checked="checked"{/if} /> Sim
				<input type="radio" name="config[permitir_imprimir]" value="0" class="checkbox" {if $config.permitir_imprimir == 0}checked="checked"{/if} /> Não
				
				<br /><label for="config[permitir_tamanho_real]"><strong>Permitir ver imagem em tamanho real:</strong></label>
				<br /><input type="radio" name="config[permitir_tamanho_real]" value="1" class="checkbox" {if $config.permitir_tamanho_real == 1}checked="checked"{/if} /> Sim
				<input type="radio" name="config[permitir_tamanho_real]" value="0" class="checkbox" {if $config.permitir_tamanho_real == 0}checked="checked"{/if} /> Não
			</p>
		</p>
		
		<p><strong>Obs.: Deixe os campos de imagens em branco caso não queira substituir a imagem</strong></p>
		
		<p>
			<label for="imagem_marca"><strong>Imagem de Marca D'Água:</strong></label>
			
			{if $imagem_marca}
			<br /><img src="../galerias/marca.png" alt="Marca D'Água" title="Marca D'Água" />
			<br /><input type="checkbox" name="deletar_marca" id="deletar_marca" value="1" /><label for="deletar_marca">Deletar Imagem de Marca D'Água</label>
			{/if}
			
			<br /><input type="file" name="imagem_marca" />
			
			
		</p>
		
		<p>
			<label for="imagem_nao_possui"><strong>Quando a galeria não possuir imagem usar:</strong></label>
			
			<br />
			<a href="../galerias/nao_possui_imagem.png" target="_blank">
				<img src="../galerias/nao_possui_imagem.png" alt="Não Possui Imagem" title="Não Possui Imagem" width="200" />
			</a>
			
			<br /><input type="file" name="imagem_nao_possui" />
		</p>
		
		<p>
			<label for="imagem_nao_encontrada"><strong>Quando imagem não for encontrada substituir por:</strong></label>
			
			<br />
			<a href="../galerias/imagem_nao_encontrada.png" target="_blank">
				<img src="../galerias/imagem_nao_encontrada.png" alt="Imagem não encontrada" title="Imagem não encontrada" width="200" />
			</a>
			
			<br /><input type="file" name="imagem_nao_encontrada" />
		</p>
		
		<p>
			<button type="submit"><span><em>Salvar</em></span></button>
		</p>
	</fieldset>
</form>