@CHARSET "ISO-8859-1";

input {
	border: 1px solid #222222;
	padding: 1px;
}

textarea {
	border: 1px solid #222222;
	padding: 1px;
}

select {
	border: 1px solid #222222;
}

fieldset {
	border: 1px solid #F5E31D;
	padding: 20px;
}

label {
	font-weight: bold;
}

.checkbox {
	border: 0;
	vertical-align: middle;
}

.button {
	
}