{if $testes.config === false}
<div class="aviso">
	<img src="template/img/aviso.png" alt="Aviso" title="Aviso" /> Atenção! O arquivo core/inc.config.php está como Leitura e Escrita (CHMOD 0777 ou 0666), por segurança altere para Somente Leitura (CHMOD 0444)
</div>
{/if}

{if $testes.pasta_instalar == true}
<div class="aviso">
	<img src="template/img/aviso.png" alt="Aviso" title="Aviso" /> Atenção! O diretótio instalar/ não foi removido, por segurança remova este diretório do servidor
</div>
{/if}